
<style>
    .chessboard {
        width: 650px;
        height: 700px;
        margin-left:auto;
        margin-right:auto;
        background-image: url('/Content/Images/BanCoo.png');
    }
    .chessnode {
        position: relative;
        width: 65px;
        height: 65px;
    }

    .chessimgnode {
        width: 65px;
        height: 65px;
        position: relative;
    }
</style>
<div class="chessboard">
    <div class="chessnode">
        <img src="/Content/Images/TướngĐỏ.png"/>
    </div>
    <div class="chessnode">
        <img src="/Content/Images/TướngĐen.png" />
    </div>
</div>

